---
import LayoutRoute from '../../../layouts/LayoutRoute.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../../lib/firebase/server'
import { getDriverRoutes } from '../../../utils/firebase/service'
import Map from '../../../components/Map'
import { HeaderDriver } from '../../../components/HeaderDriver'
import { DetailsDelivery } from '../../../components/DetailsDelivery'

export const prerender = false

// Inicializar Firebase Auth
const auth = getAuth(app)

// Verificar la sesión del usuario
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value
if (!sessionCookie) {
  return Astro.redirect('/signin')
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const { id } = Astro.params
---

<LayoutRoute>
  <HeaderDriver client:load />
  <section class='rounded-xl overflow-hidden'>
    <Map uid={decodedCookie.uid} id={id} client:only />
  </section>
  <!-- <section>
    <DetailsDelivery client:load />
  </section> -->
</LayoutRoute>
