---
import LayoutRoute from '../../../layouts/LayoutRoute.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../../lib/firebase/server'
import Map from '../../../components/Map'
import { HeaderDriver } from '../../../components/HeaderDriver'
import { DetailsDelivery } from '../../../components/DetailsDelivery'
import { AddDetails } from '../../../components/AddDetails'

export const prerender = false

// Inicializar Firebase Auth
const auth = getAuth(app)

// Verificar la sesión del usuario
if (!Astro.cookies.has('session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('session')?.value
if (!sessionCookie) {
  return Astro.redirect('/signin')
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const { id } = Astro.params
---

<LayoutRoute>
  <HeaderDriver client:load />
  <section class='rounded-xl overflow-hidden h-full z-10'>
    <Map uid={decodedCookie.uid} id={id} client:only />
  </section>
  <AddDetails client:load />
  <DetailsDelivery client:load />
</LayoutRoute>
