---
import Features from '../components/landing/Features.astro'
import HeroSection from '../components/landing/HeroSection.astro'
import Section from '../components/landing/Section.astro'
import Layout from '../layouts/Layout.astro'
import appAdmin from '../assets/admin.webp'
---

<Layout>
  <Section>
    <HeroSection />
  </Section>
  <section class='max-w-screen-lg'>
    <picture
      class='w-full border overflow-hidden rounded-xl inline-block shadow-md'
    >
      <img src={appAdmin.src} alt='dashboard app' />
    </picture>
  </section>
  <Section>
    <Features />
  </Section>
  <main></main>
</Layout>
