<article
  class='bg-azur-50 rounded-xl p-4 flex flex-col gap-2 border-2 border-azur-800'
>
  <header class='py-2 border-b-2 flex justify-between items-center'>
    <h2 class='font-bold text-2xl'>John Doe</h2>
    <span class='bg-azur-800 text-green-400 rounded-xl px-3 py-1'>Activo</span>
  </header>
  <ul>
    <li>Usuario</li>
  </ul>
  <p><strong>Email:</strong> john.doe@example.com</p>
  <p><strong>Role:</strong> Driver</p>
  <h3>Assigned Routes:</h3>
  <ul class='route-list'>
    <li>Central Park to Downtown</li>
    <li>Main Street to Airport</li>
    <li>Harbor Road to City Center</li>
  </ul>
</article>
