---
import Logo from './Logo.astro'
import Sidebar from './Sidebar.astro'
import SignoutBtn from './SignoutBtn'
---

<header
  class='flex items-center justify-between py-3 px-4 [&_svg]:w-8 row-start-1 col-start-1 col-end-4 border-b border-azur-300'
>
  <Logo
    class='flex gap-1 items-center text-xl font-bold justify-center text-azur-800'
  />

  <form action='/api/auth/logout'>
    <button type='submit'> Salir </button>
  </form>
</header>
<Sidebar />
<slot />
