---
import Logo from './Logo.astro'
import { app } from '../lib/firebase/server'
import { getAuth } from 'firebase-admin/auth'
const auth = getAuth(app)

if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
---

<header
  class='flex items-center justify-between py-3 px-6 [&_svg]:w-8 row-start-1 col-start-1 col-end-4 border-b border-azur-300'
>
  <Logo
    class='flex gap-1 items-center text-xl font-bold justify-center text-azur-800'
  />
  <div class='flex items-center gap-x-2'>
    <h1 class='capitalize font-bold text-lg'>{decodedCookie.name}</h1>
    <form action='/api/auth/logout'>
      <button
        class='flex gap-1 items-center hover:bg-azur-800 hover:text-azur-50 rounded-xl px-2 py-2 [&_svg]:w-5'
        type='submit'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
            d='M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2'
          ></path><path d='M9 12h12l-3 -3'></path><path d='M18 15l3 -3'
          ></path></svg
        ></button
      >
    </form>
  </div>
</header>
