---
import Logo from './Logo.astro'
export const prerender = false

if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}
---

<header
  class='flex items-center justify-between py-3 px-4 [&_svg]:w-8 row-start-1 col-start-1 col-end-4 border-b border-azur-300'
>
  <Logo
    class='flex gap-1 items-center text-xl font-bold justify-center text-azur-800'
  />
  <form action='/api/auth/logout'>
    <button
      class='flex gap-1 border items-center hover:bg-azur-800 hover:text-azur-50 rounded-lg px-3 py-1 [&_svg]:w-5 hover:scale-105 ease-in-out transition-all duration-300'
      type='submit'>Salir</button
    >
  </form>
</header>
