---
import { getAuth } from 'firebase-admin/auth'
import RouteCard from '../../components/RouteCard.astro'
import { app } from '../../lib/firebase/server'
import { routes } from '../../lib/routes'
import LayoutRoute from '../../layouts/LayoutRoute.astro'
import { ListRoutesDriver } from '../../components/ListRoutesDriver'

export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)
if (!user.email?.match(/@routico.ec/)) {
  return Astro.redirect('/admin')
}
console.log(user.uid)
---

<LayoutRoute>
  <h1 class='text-2xl font-bold text-azur-800'>Lista de rutas</h1>
  <section>
    <ul class='grid grid-cols-[repeat(auto-fit,minmax(250px,350px))] gap-6'>
      <ListRoutesDriver uid={user.uid} client:load />
    </ul>
  </section>
</LayoutRoute>
