---
import '@fontsource-variable/onest'
import HeaderRoute from '../components/HeaderRoute.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/routico-isotipo.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Routico</title>
  </head>
  <body class=''>
    <HeaderRoute />
    <main
      class='bg-azur-200/20 p-4 md:p-6 flex flex-col gap-4 pb-6 min-h-[calc(100vh-65px)]'
    >
      <slot />
    </main>
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Onest Variable', sans-serif;
  }
</style>
