---
import { ListDrivers } from '../../components/ListDrivers'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
import { Wrapper } from '../../components/Wrapper'
import { Toaster } from 'sonner'
import Header from '../../components/Header.astro'

export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
---

<LayoutAdmin>
  <Header>
    <Main
      class='relative overflow-y-scroll bg-[url(/circle-bg.svg)] bg-no-repeat bg-cover bg-center p-4 flex flex-col gap-4 pb-16 sm:pb-6'
    >
      <MainTitle title='Lista de conductores' />
      <Wrapper uid={decodedCookie.uid} client:load />
      <section>
        <ListDrivers uid={decodedCookie.uid} client:load />
      </section>
    </Main>
    <Toaster
      position='bottom-right'
      toastOptions={{
        classNames: {
          toast: 'border-2 border-azur-800 w-fit right-0',
          icon: 'text-azur-800'
        }
      }}
      client:load
    />
  </Header>
</LayoutAdmin>
