---
import { ListDrivers } from '../../components/ListDrivers'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
import { Wrapper } from '../../components/Wrapper'

export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
---

<LayoutAdmin>
  <Main
    class='relative bg-azur-200/20 p-4 md:p-6 flex flex-col gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <MainTitle title='Lista de conductores' />
    <Wrapper uid={decodedCookie.uid} client:load />
    <section>
      <ListDrivers uid={decodedCookie.uid} client:load />
    </section>
  </Main>
</LayoutAdmin>
