---
import AddDriver from '../../components/AddDriver.astro'
import Search from '../../components/icons/Search.astro'
import UserAdd from '../../components/icons/UserAdd.astro'
import InputFilter from '../../components/InputFilter.astro'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
---

<LayoutAdmin>
  <Main>
    <MainTitle title='Lista de conductores' />

    <section class='flex justify-between gap-x-2 items-center'>
      <InputFilter />
      <button
        class='flex items-center gap-x-1 bg-azur-600 text-azur-50/80 border rounded-xl py-2 px-4 hover:bg-azur-800 hover:text-azur-50'
      >
        <UserAdd />
        Agregar
      </button>
    </section>

    <section
      class='flex flex-col w-full gap-y-4 bg-azur-50 rounded-xl border overflow-hidden'
    >
      <div class='overflow-x-scroll'>
        <table class='w-full'>
          <thead>
            <tr
              class='grid grid-cols-[minmax(max-content,_1fr),minmax(60px,_1fr),minmax(60px,_1fr),minmax(60px,_1fr),minmax(80px,_110px)] gap-4 text-left text-sm [&_th]:font-medium text-gray-600 border-b py-3 px-4'
            >
              <th>Nombre</th>
              <th>Correo</th>
              <th>Contraseña</th>
              <th>Teléfono</th>
              <th>Estado</th>
            </tr>
          </thead>
        </table>
      </div>
    </section>
    <!-- <AddDriver /> -->
  </Main>
</LayoutAdmin>
