---
import MapPoints from '../../components/icons/MapPoints.astro'
import UserGroup from '../../components/icons/UserGroup.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import Circle from '../../components/Circle.astro'
import Main from '../../components/Main.astro'
---

<LayoutAdmin>
  <Main>
    <MainTitle title='Resumen' />
    <section
      class='bg-azur-50 rounded-xl p-4 flex flex-wrap gap-4 lg:justify-around'
    >
      <Circle title='Conductores' amount='10'>
        <UserGroup class='w-10 h-10 text-azur-600' />
      </Circle>
      <Circle title='Rutas' amount='5'>
        <MapPoints class='w-10 h-10 text-azur-600' />
      </Circle>
      <Circle title='Total dinero' amount='1000'>
        <MapPoints class='w-10 h-10 text-azur-600' />
      </Circle>
    </section>
  </Main>
</LayoutAdmin>
