---
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import Main from '../../components/Main.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
import { ListRoutes } from '../../components/ListRoutes'
import { MarkersMap } from '../../components/MarkersMap'
import { Count } from '../../components/Count'
export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)
if (user.email?.match(/@routico.ec/)) {
  return Astro.redirect('/drivers')
}
---

<LayoutAdmin>
  <Main
    class='relative max-h-[calc(100dvh-52px)] bg-[url(/circle-bg.svg)] bg-no-repeat bg-cover bg-center p-4 md:p-6 grid grid-rows-[80px_auto_200px] lg:grid-rows-[100px_auto] lg:grid-cols-[1fr_320px] gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <section
      class='bg-azur-50 rounded-xl border lg:col-start-1 lg:col-end-3 px-4 py-2 lg:p-4 flex flex-wrap gap-4 lg:justify-around'
    >
      <Count uid={decodedCookie.uid} data='conductores' client:load />
      <Count uid={decodedCookie.uid} data='rutas' client:load />
    </section>
    <section class='rounded-xl overflow-hidden'>
      <MarkersMap client:only />
    </section>
    <section class='overflow-hidden bg-azur-50 p-4 rounded-xl border'>
      <ul
        class='overflow-y-auto max-h-full h-auto grid grid-cols-[repeat(auto-fit,minmax(250px,300px))] gap-2 justify-center'
      >
        <ListRoutes simple={false} uid={decodedCookie.uid} client:load />
      </ul>
    </section>
  </Main>
</LayoutAdmin>
