---
import MapPoints from '../../components/icons/MapPoints.astro'
import UserGroup from '../../components/icons/UserGroup.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import Circle from '../../components/Circle.astro'
import Main from '../../components/Main.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
export const prerender = false
const auth = getAuth(app)
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)
if (user.email?.match(/@routico.com/)) {
  return Astro.redirect('/drivers')
}
---

<LayoutAdmin>
  <Main
    class='relative bg-azur-200/20 p-4 md:p-6 flex flex-col gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <MainTitle title='Resumen' />
    <section
      class='bg-azur-50 rounded-xl p-4 flex flex-wrap gap-4 lg:justify-around'
    >
      <Circle title='Conductores' amount='10'>
        <UserGroup class='w-10 h-10 text-azur-600' />
      </Circle>
      <Circle title='Rutas' amount='5'>
        <MapPoints class='w-10 h-10 text-azur-600' />
      </Circle>
      <Circle title='Total dinero' amount='1000'>
        <MapPoints class='w-10 h-10 text-azur-600' />
      </Circle>
    </section>
  </Main>
</LayoutAdmin>
