---
import Card from '../../components/icons/Card.astro'
import Desktop from '../../components/icons/Desktop.astro'
import Help from '../../components/icons/Help.astro'
import Maps from '../../components/icons/Maps.astro'
import User from '../../components/icons/User.astro'
import Logo from '../../components/Logo.astro'
import Layout from '../../layouts/Layout.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
---

<LayoutAdmin>
  <h2>Principal</h2>
</LayoutAdmin>
