---
import Check from '../../components/icons/Check.astro'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'

export const prerender = false
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const data = [
  {
    price: 15,
    name: 'Basico',
    description: 'Gestión esencial para pequeñas entregas.',
    features: [
      'Gestión de rutas manuales 3',
      'Mapa interactivo básico',
      'Información detallada de productos',
      'Registro manual de cobros',
      'Soporte por correo electrónico'
    ]
  },
  {
    price: 30,
    name: 'Pro',
    description:
      'Diseñado para empresas en crecimiento que buscan optimización y eficiencia.',
    features: [
      'Incluye todo en Básico, más:',
      'Asignación semi-automática de rutas.',
      'Mapa interactivo avanzado con opciones de optimización.',
      'Gestión de inventario básica.',
      'Reportes semanales de rendimiento.'
    ]
  },
  {
    price: 50,
    name: 'Premium',
    description:
      'Perfecto para empresas medianas y grandes que requieren herramientas avanzadas.',
    features: [
      'Incluye todo en Pro, más:',
      'Mapa interactivo básico',
      'Integración con sistemas externos (CRM, ERP).',
      'Registro manual de cobros',
      'Soporte prioritario 24/7 vía correo electrónico y chat en vivo .'
    ]
  }
]
---

<LayoutAdmin>
  <Main
    class='relative overflow-y-scroll bg-[url(/circle-bg.svg)] bg-no-repeat bg-cover bg-center p-4 md:p-6 flex flex-col gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <MainTitle title='Mejora tu plan' />
    <section>
      <ul class='grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-6'>
        {
          data.map((item) => (
            <li>
              <article class='bg-azur-50 border rounded-xl'>
                <header class='flex flex-col items-center border-b p-6 gap-y-2'>
                  <h3 class='text-2xl font-semibold'>{item.name}</h3>
                  <p class='text-gray-500 text-center'>{item.description}</p>
                  <p class='text-5xl text-azur-600 font-bold'>
                    ${item.price}
                    <span class='font-normal text-base text-gray-500'>
                      /mes
                    </span>
                  </p>
                </header>
                <main class=''>
                  <ul class='[&>li]:flex [&>li]:items-center [&>li]:gap-x-2 flex flex-col gap-3 p-6'>
                    {item.features.map((feature) => (
                      <li>
                        <Check class='text-azur-600' />
                        {feature}
                      </li>
                    ))}
                  </ul>
                  <div class='p-6 border-t'>
                    <button class='w-full bg-azur-600 text-azur-50/90 border-2 border-azur-600 rounded-xl py-2 px-4 hover:bg-azur-800 hover:text-azur-50'>
                      Mejorar
                    </button>
                  </div>
                </main>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </Main>
</LayoutAdmin>
