---
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import MapAdd from '../../components/icons/MapAdd.astro'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import InputFilter from '../../components/InputFilter.astro'
import RouteCard from '../../components/RouteCard.astro'
export const prerender = false
/* Check current session */
if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('__session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
---

<LayoutAdmin>
  <Main
    class='relative overflow-hidden bg-azur-200/20 p-4 md:p-6 flex flex-col gap-4 md:gap-6 pb-16 sm:pb-6'
  >
    <MainTitle title='Lista de rutas' />

    <section class='flex justify-between gap-x-2 items-center'>
      <InputFilter />
      <button
        class='flex items-center gap-x-1 bg-azur-600 text-azur-50/80 border rounded-xl py-2 px-4 hover:bg-azur-800 hover:text-azur-50'
      >
        <MapAdd />
        Agregar
      </button>
    </section>
    <section class='grid justify-center md:justify-start grid-cols-[repeat(auto-fit,minmax(250px,350px))] gap-6'>
      <RouteCard/>
      <RouteCard/>
      <RouteCard/>
      <RouteCard/>
    </section>
  </Main>
</LayoutAdmin>
