---
import LayoutAdmin from '../../layouts/LayoutAdmin.astro'
import Main from '../../components/Main.astro'
import MainTitle from '../../components/MainTitle.astro'
import { getAuth } from 'firebase-admin/auth'
import { app } from '../../lib/firebase/server'
import { ListRoutes } from '../../components/ListRoutes'
import { WrapperRoutes } from '../../components/WrapperRoutes'
import Header from '../../components/Header.astro'

const auth = getAuth(app)
export const prerender = false
/* Check current session */
if (!Astro.cookies.has('session')) {
  return Astro.redirect('/signin')
}

const sessionCookie = Astro.cookies.get('session')?.value

if (!sessionCookie) {
  return Astro.redirect('/signin')
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
---

<LayoutAdmin>
  <Header>
    <Main
      class='relative overflow-y-scroll bg-[url(/circle-bg.svg)] bg-no-repeat bg-cover bg-center p-4 flex flex-col gap-4 pb-16 sm:pb-6'
    >
      <MainTitle title='Lista de rutas' />

      <WrapperRoutes uid={decodedCookie.uid} client:only />
      <section>
        <ListRoutes simple={true} uid={decodedCookie.uid} client:load />
      </section>
    </Main>
  </Header>
</LayoutAdmin>
